<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Basket</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="row">
    <div class="offset-4 col-6 py-3">
        <h1 class="offset-3">Basket</h1>
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="row" th:each="entry : ${basketProducts.entrySet()}">
                    <div class="col-3 py-2">
                        <img th:src="'/file/download/' + ${entry.getKey().id()}"
                             class="card-img-top img-fluid mx-auto d-block" alt="...">
                    </div>
                    <div class="col-7 py-5">
                        <h4 th:text="${entry.getKey().name() + ' - ' + entry.getKey().price()} + '$'"></h4>
                        <div style="display: flex; align-items: center;" class="my-3">
                            <a type="button" class="btn btn-light" style="font-weight: bold"
                               th:href="'/basket/addAmount/' + ${entry.getKey().id()}">+</a>
                            <p style="margin: 10px;" th:text="${entry.getValue()} + ' pieces'"></p>
                            <a type="button" class="btn btn-light" style="font-weight: bold"
                               th:href="'/basket/removeAmount/' + ${entry.getKey().id()}">-</a>
                            <h4 class="px-4" th:text="${entry.getKey().price() * entry.getValue() + '$'}"></h4>
                        </div>
                        <a class="btn btn-secondary text-white"
                           th:href="'/basket/remove/' + ${entry.getKey().id()}"> Remove from Basket</a>
                    </div>
                </div>
                <div style="display: flex;align-items: start">
                    <h3 class="mx-2" th:text="'Overall: ' + ${@orderProductService.getBasketSum(basketProducts)} + '$'"></h3>
                    <a class="btn btn-dark text-white offset-1 " href="/">Back</a>
                    <a class="btn btn-warning text-white mx-4" th:if="${#maps.size(basketProducts)} > 0" href="/client/order/confirm">Confirm Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>